# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv
.env

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Tests
tests/
.pytest_cache/
.coverage
htmlcov/

# Docker
Dockerfile
.dockerignore

# Misc
README.md
*.log